@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900');

body {
    font: 300 18px / 1.6em Roboto, Arial, sans-serif;
    color: #7c8ca0;
    box-sizing: border-box;
    max-width:2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;  
}
/* HEADER links */
a {
    color: #7c8ca0;
    text-decoration: none;
    &:hover {
        opacity: 0.9;
    }
}
img {
    max-width: 100%;
    height: auto;
}

/*grid */
.container {
    display: flex;
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.page-header {
    display: flex;

    justify-content: center;
    padding: 25px 0;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e4e6ea;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center; 
}
}
.brand {
    display: block;
    img {
        display: block;
    }
}
/* menu */ 
.menu-items {
    display:flex; 
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none; 
    
    li {
        display: inline-block;
        margin: 0 4px;
        a {
            display: inline-block;
            padding: 14px 24px 15px 24px;
            color: #5d6981;
            font-size: 20px;
            line-height: 1.2em;   /* 24px */
            font-weight: 400;
            
        }  
    }
    .menu-icon {
        a {
            background-repeat: no-repeat;
            height: 46px;
            width: 46px; 
            padding: 0;
            
        }
    }
}
.menu-items .active {
    border-radius: 36px;
    border: 1px solid #9fabba;
}
/* menu icon */ 

.facebook-icon {
    background-image: url(../images/facebook.png);
}
.twitter-icon {
    background-image: url(../images/twitter.png);
}
/* section */
.section-header {
    text-align: center;
    
    h2 {
        color: #0149a1;
        font-size: 72px;
        font-weight: 700;
        margin: 0;
        line-height: 0.9em;
        
    }
    p {
        color: #5d6981;
        font-size: 36px;
        font-weight: 300;
        line-height: 1.3em;
        margin: 26px 0 0;
    }
}
/*page section*/
.page-section {
    background-color: #ffffff;
    background-image: linear-gradient(to top, #edeff1 0%, #edeff1 1%, #ffffff 24%, #e2e4e8 31%, #ffffff 50%);
}
.intro-section {
    padding-top: 135px;
    padding-bottom: 130px;
}
/*intro CTA */
.intro-cta {
    text-align: center;
    margin-top: 105px;
    margin-bottom: 115px;
    a {
        display: inline-block;
        padding: 22px 68px 20px;
        border-radius: 30px;
        background-color: #ff2d55;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2em;
    }
}
/*intro video*/ 
.intro-video {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    height:100%;
    background: url('../images/chat.png') no-repeat left 55px, url(../images/light.png) no-repeat right 55px;
}
.intro-video-image {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1094px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    .btn-default {
        display:flex;
        position:absolute;
        top: 232px;
        color: #0149a1;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2em;
        padding: 20px 45px;
        border-radius: 30px;
        background-color: #ffffff;
    }      
}
/*section faeture-boxes */
.feature-boxes {
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;  
    }
}
.feature-box {
    flex-basis: 23%;
    text-align: center;
    img {
        margin-bottom: 55px;
    }
    h3 {
        margin: 0 0 25px;
        color: #5d6981;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.6em;
    }
    p {
        color: #7c8ca0;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5em;
    }
}
/*creativity - section */   
.creativity-box {
    display:flex;
    position: relative;
    justify-content: center;
    align-content: center;
    max-width: 2005px;
    width:100%;
    a {
        position: absolute;
        top: 355px;
        color: #ffffff;
        padding: 20px 70px;
        font-size: 18px;
        font-weight: 700;
        line-height: 2.6em;
        box-shadow: 0 0 134px 27px #ffffff;
        border-radius: 30px;
        background-color: #0149a1;
    }
}
/* work section */
.how-work {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #0149a1;
    max-width: 2005px;
    width: 100%;
    height: auto;
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
       .header-work {
            padding: 0;
            h3 {
                margin-top: 126px;   
                margin-bottom: 5px;
                color: #ffffff;
                font-size: 72px;
                line-height: 1 em;
                font-weight: 700;
            }
            p {
                margin-top: 10px;
                color: #5483bb;
                font-size: 36px;
                font-weight: 300;
                line-height: 2.5em;
                font-weight: 300;
            }
        }
        .image-text {
            display:flex;
            flex-direction: row;
            justify-content: center;
            img {
                margin-top: 53px;
                margin-bottom: 100px;
                margin-right: 55px;
                max-width: 517px;
                height: auto;
            }
            p {
                max-width: 559px;
                text-align: left;
            }
        }   
        .btn-price {
            margin-bottom: 130px;
            a {
                color: #0149a1;
                padding: 22px 68px;
                font-size: 18px;
                font-weight: 700;
                border-radius: 30px;
                background-color: #ffffff;
            }
        }
    }
}
/* one person section */
.main-person-box {
    .container {
        max-width: 2000px;
        padding: 0;
        width:100%;
        height: auto;
        display: flex;
        justify-content: center;
        
        flex-direction: row;
        .c-left {
            margin-top: 280px;
            margin-right: 226px;
        }
        .person-image {
            text-align: center;
            margin-top: 105px;
            margin-bottom: 78px;
            img {
                margin-bottom: 50px;
            }
           .add-comment {
               max-width: 576px;
               color: #7c8ca0;
               font-size: 24px;
               font-weight: 400;
               line-height: 1.3em;
           }
           .kowalski {
               font-size: 18px;
               font-weight: 300;
               .windu {
                   font-size: 18px;
                   font-weight: 300;
                   text-decoration: underline;                
               }
           }  
        }
        .c-right {
            margin-top: 280px;
            margin-left: 226px;    
        }
    }
}
/*our team section */
.people-box {
    display:flex;
    flex-direction: column;
    background-color: #edeff1;
    max-width: 2000px;
    width:100%;
    height: auto;
    margin: 0 auto;
    
    .meet-box {
        display:flex;
        flex-direction: column;
        align-items: center;
        h3 {
            display: flex;
            margin: 138px auto 0;
            color: #0149a1;
            font-size: 72px;
            font-weight: 700;
            line-height: 0.7em;
        }
        p {
            margin: 15px 0 100px;
            color: #7c8ca0;
            font-size: 36px;
            font-weight: 300;
            line-height: 1.3em;
        }
    }
    .team-box {
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
        .team-box-4 {
            max-width: 251px;
            display:flex;
            flex-direction: column;
            align-items: center;
            margin: 0 25px;
            
            img {
                &:hover {
                    opacity: 0.5;
                }
            }
            h4 {
                color: #5d6981;
                font-size: 30px;
                font-weight: 700;
                line-height: 1.4em;
                margin-top: 53px;
                margin-bottom: 26px;
            }
            p {
                margin: 0 auto 88px;
                text-align: center;
                color: #7c8ca0;
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
            }
        }
    }
    .btn-people-box {
        display: flex;
        justify-content: center;
        margin-bottom: 126px;
        a{
            color: #ffffff;
            padding: 22px 68px;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.2em; 
            border-radius: 30px;
            background-color: #ff2d55;
        }
    }
}
/*google maps */
.maps {
    display:flex;
    justify-content: center;

    text-align: center;
    max-width: 2000px;
    width: 100%;
    height: auto;
}
/*footer */
.class-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
    background-color: #0149a1;
    height: auto;
    .text-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 90px;
        
        p {
            display: flex;
            flex-wrap: wrap;
            padding-top: 20px;
            max-width: 141px;
            margin: 0 80px 0;
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            line-height: 2em;
        }
    }
    .text-footer-symu {
        margin: 130px auto 100px;
        max-width: 666px;
        p {
            text-align: center;
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.3em;
            a {
                font-weight: 700;
                color: #ffffff;

            }
        } 
    }
}

@media(max-width: 768px) {
    .page-header {
        .container {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
    }.menu-items {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
        align-content: center;  
    }
    .intro-video-image {
        .btn-default {
            display:flex;
            position:absolute;
            top: 40px;
        }      
    }
    .feature-boxes {
        display: flex; 
        flex-direction: column;
        align-content: center;
    }
    .how-work {
        .container {
            .image-text {
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

            }
        }
    }
}
