@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900');

body {
    font: 300 18px / 1.6em Roboto, Arial, sans-serif;
    color: #7c8ca0;
    
}
/* links */
a {
    color: #7c8ca0;
    text-decoration: none;
    &:hover {
        opacity: 0.9;
    }
}
img {
    max-width: 100%;
    height: auto;
}

/*grid */
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.page-header {
    padding: 25px 0;
    width: 2000px;
    height: 100px;
    border-bottom: 1px solid #e4e6ea;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
}
.brand {
    display: block;
    img {
        display: block;
    }
}

/* menu */ 
.menu-items {
    padding: 0;
    margin: 0;
    list-style: none; 
    display: flex;
    align-items: center;
    li {
        display: inline-block;
        margin: 0 4px;
        a {
            display: inline-block;
            padding: 14px 24px 15px 24px;
            color: #5d6981;
            font-size: 20px;
            line-height: 1.2em;   /* 24px */
            font-weight: 400;
            
        }  
    }
}
.menu-items .active {
    border-radius: 36px;
    border: 1px solid #9fabba;
}
 
/* menu icon */ 
.menu-items {
    display: flex;
    align-items: center;
    .menu-icon {
        a {
            background-repeat: no-repeat;
            height: 46px;
            width: 46px; 
            padding: 0;
            
        }
    }
}
.facebook-icon {
    background-image: url(../images/facebook.png);
}
.twitter-icon {
    background-image: url(../images/twitter.png);
}



/* 16:35 from youtube , why fb and twitter doesnt show?*/